<h1>Burgers</h1>

<div class="container">
<div id="leftover">
<h2>Burgers Available:</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>
</div>
<div id="img-box">

<img src="../public/assets/images/burger.jpg" alt="">
</div>
<div id="devoured">
<h2>Burgers Devoured:</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burgertwo-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>
</div>
</div>
<div id="add-burger">
  
<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>
 

  <button type="submit">Add burger</button>
</form>
</div>
